.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

legend {
  text-align: center;
}
legend h1 {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 900px;
  margin: 0 auto;
  gap: 20px;
}

.flexInput {
  display: inline-flex;
  justify-content: center;
  border: solid 1px #ffffff2e;
  background: #24272e;
  border-radius: 8px;
  padding: 10px;
}

h3 {
  margin: 0;
}

.mes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
  border: solid 1px #ffffff2e;
  background: #24272e;
  border-radius: 8px;
  padding: 10px;
}

.num {
  text-decoration: underline;
}

.button {
  border: solid 1px #ffffff2e;
  background: #24272e;
  border-radius: 8px;
  padding: 10px;
  color: white;
}
.button:hover {
  cursor: pointer;
}

.buttonMedia {
  border: solid 1px #ffffff2e;
  background: #24272e;
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.buttonMedia:hover {
  cursor: pointer;
}

.buttonMedia:hover:after {
  content: ' - click to remove';
}

.erro {
  display: block;
  font-size: 0.5em;
  color: rgb(214, 150, 150);
}

.media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.media .button {
  margin: 10px 0;
}
